@using H5ServersideProgrammering.Repository;
@using H5ServersideProgrammering.Data;
@page "/"

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")]
@inject IUserCPRRepository UserCprRepository
<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1> @context.User.Identity?.Name!</h1>
    </Authorized>
</AuthorizeView>

<!DOCTYPE html>
<html>
<head>
    <title>User CPR Input</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 300px;
            margin: 0 auto;
        }

        input,
        button {
            width: 100%; /* Width minus padding and border */
            margin: 5px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specify your preferred font family here */
        }

            input[type="submit"],
            button[type="submit"] {
                background-color: #007bff;
                color: #fff;
                cursor: pointer;
                width: 100%; /* Make the submit button same width as input */
            }

                input[type="submit"]:hover,
                button[type="submit"]:hover {
                    background-color: #0056b3;
                }
    </style>
</head>
<body>
    <div class="container">
            <label for="cpr">Indtast dit cpr-nr:</label>
            <input type="text" @bind="CprValue" @oninput="@((e) => {CprValue=(string?)e.Value;})" id="cpr" name="cpr" maxlength="10" required />
            <button @onclick="OnButtonPress">Submit</button>
        @code {
            string? UserID;
            UserCpr? userCpr;
            string? CprValue;

            public bool ExistInDatabase()
            {
                if (UserID == null) return false;

                userCpr = UserCprRepository.GetByUserId(UserID);

                if (userCpr == null) return false;

                return true;
            }

            public void OnButtonPress()
            {
                if (CprValue == null  || CprValue == "") return;

                if (ExistInDatabase())
                {
                    if (CprValue == userCpr.Cpr)
                    {
                        //show todoliste when ready

                    }
                    else
                    {
                        // forkert CPR nummer
                        <dialog>Forkert CPR nummer</dialog>
                    }
                }
                else
                {
                    // opret userCPR med indtastet CPR nummer
                }

                
                
            }


        }
    </div>
</body>
</html>

