@page "/"

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")]
<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1> @context.User.Identity?.Name!</h1>
    </Authorized>
</AuthorizeView>

<!DOCTYPE html>
<html>
<head>
    <title>User CPR Input</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 300px;
            margin: 0 auto;
        }

        input[type="text"],
        input[type="submit"] {
            width: 100%; /* Width minus padding and border */
            margin: 5px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specify your preferred font family here */
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            width: 100%; /* Make the submit button same width as input */
        }

            input[type="submit"]:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">
        <form method="post">
            <label for="cpr">Indtast dit cpr-nr:</label>
            <input type="text" id="cpr" name="cpr" maxlength="10" required />
            <input type="submit" value="Submit" />
        </form>
        @code {
        



        }
    </div>
</body>
</html>

